body
  background-color: #e1f5fe
  
#app
  display: flex
  flex-flow: column wrap
  min-height: 0
  min-width: 0

  @media (min-width: 600px)
    flex-flow: row nowrap
    height: 100%
    overflow: hidden

.parameters
  display: inline-flex
  background-color: #80cbc4
  align-items: flex-start
  width: 100%

  @media (min-height: 600px)
    align-items: center

  @media (min-width: 600px)
    overflow-y: scroll
    height: 100%
    width: unset

  fieldset
    padding: 20px
 
.offscreen, .hidden
  display: none

#wasm-canvas-container
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  position: relative
  height: 60vh
  width: 100vw
  min-height: 0
  min-width: 0

  @media (min-width: 600px)
    justify-content: center
    align-items: center
    align-content: center
    flex: 1
    height: 100%
    width: unset

  .spinner
    position: absolute
    display: inline-block

    svg
      height: 2rem
      width: 2rem
      display: none

    &.visible
      svg
        display: block
