main {
  width: 1000px;
  margin: 0 auto;
  background-color: red;
}

.parameters {
  background-color: blue;
  width: 300px;
  right: 0;
  top: 0;
}

#wasm-offscreen-canvas {
  display: none;
}

#wasm-canvas {
  width: 700px;
  height: 100vh;
}
