@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap')

html, body, #root
  margin: 0
  height: 100%
  // overflow: hidden
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 400
  font-size: 1rem
  text-transform: lowercase
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// button
//   display: inline-block
//   border: none
//   // padding: 1rem 2rem
//   margin: 0
//   text-decoration: none
//   background: #0069ed
//   // background: red
//   color: #ffffff
//   font-family: sans-serif
//   font-size: 1rem
//   cursor: pointer
//   text-align: center
//   transition: background 250ms ease-in-out, transform 150ms ease
//   -webkit-appearance: none
//   -moz-appearance: none

//   &:hover, &:focus
//     background: #0053ba

//   &:focus
//     outline: 1px solid #fff
//     outline-offset: -4px

  // &:active
  //   transform: scale(0.99)

fieldset
  max-width: 40em
  padding: 4px
  margin: 2em auto
  border: 0 none

input, textarea, select, button
  box-sizing: border-box
  padding: 2px
  margin: 0
  outline: 0 none
  box-shadow: none
  clear: both
  float: right
  width: 50%

button
  color: black
  margin-bottom: 10px
  border: 1px solid black
  padding: 2px
  background-color: lightblue
  cursor: pointer

label
  margin-bottom: 10px
  float: left
  width: calc(50% - 10px)
  text-align: right
  padding-right: 10px
